[submodule "app/src/main/java/com/posco/feedscreentestapp/di/repository"]
	path = app/src/main/java/com/posco/feedscreentestapp/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/posco/feedscreentestapp/di/feed_di"]
	path = app/src/main/java/com/posco/feedscreentestapp/di/feed_di
	url = https://github.com/sarang628/feed_di.git
[submodule "app/src/main/java/com/sryang/torang/di/profile_di"]
	path = app/src/main/java/com/sryang/torang/di/profile_di
	url = https://github.com/sarang628/profile_di.git